.super-mario {
  width: 200px;
}

.goomba {
  width: 100px;
}

.baloon {
    position: absolute;
    z-index: 1;
    width: 100px;
    padding-top: 5px;
}

.speach {
  font-size: 15px;
  position: absolute;
  z-index: 2;
  width: 90px;
  padding-left: 13px;
}

.bowser {
  width: 200px;
  position: absolute;
  z-index: 3;
  padding-left: 100px;
}